:root {
   --font-family-title: Impact, Haettenschweiler, 'Arial Narrow Bold',
      sans-serif;
   --font-family-text: Consolas, monaco, monospace;
}

h1,
h2,
h3,
p,
a,
span {
   font-size: clamp(
      var(--fluid-type-min, 1rem),
      calc(1rem + var(--fluid-type-target, 1vw)),
      var(--fluid-type-max, 1.3rem)
   );
}

h1,
h2,
h3 {
   font-family: var(--font-family-title);
}

p,
b,
small,
a,
span {
   font-family: var(--font-family-text);
}

.f-size-error {
   --fluid-type-max: 1rem;
}
