@import './scss/base/reset';
@import './scss/base/global';
@import './scss/base/colors';
@import './scss/base/fonts';

@import './scss/composition/wrapper.scss';
@import './scss/composition/panel';

@import './scss/block/nav';
@import './scss/block/svg';

@import './scss/utilities/flex';

.teddies,
.cameras,
.furniture {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
   grid-template-rows: 20rem;
   place-content: center;
}

img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
