.form-cart {
   & > div {
      display: grid;
      gap: 0.25rem;
   }

   & input:not([type='submit']) {
      padding: 0.75rem;
   }

   & input[type='submit'] {
      background: var(--color-primary);
      border: none;
      color: var(--color-text);
      padding: 2rem;
   }
}
