.form-cart {
   --max-width: 65rem;

   & h2 {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 2rem;
      font-weight: 500;
   }

   & form {
      display: grid;
      gap: 2.5rem;

      grid-template:
         'first' 1fr
         'last' 1fr
         'address' 1fr
         'city' 1fr
         'zip' 1fr
         'mail' 1fr
         'btn' 1fr
         /1fr;

      @media screen and (min-width: 768px) {
         grid-template:
            'first last' 1fr
            'address address' 1fr
            'city zip' 1fr
            'mail mail' 1fr
            'btn btn' 1fr
            /1fr 1fr;
      }

      font-family: Consolas;

      &:invalid button > cta__front {
         background-color: var(--color-disabled, pink);
      }
   }

   &__input {
      display: grid;

      &[data-grid='firstName'] {
         grid-area: first;
      }

      &[data-grid='lastName'] {
         grid-area: last;
      }

      &[data-grid='address'] {
         grid-area: address;
      }

      &[data-grid='city'] {
         grid-area: city;
      }

      &[data-grid='zip'] {
         grid-area: zip;
      }

      &[data-grid='email'] {
         grid-area: mail;
      }

      & > label {
         white-space: nowrap;

         & span {
            color: var(--color-ternary);
         }
      }

      & > input {
         padding: 0.75rem;

         &::placeholder {
            font-style: italic;
         }

         &:not(:placeholder-shown):invalid {
            border: 2px solid var(--color-warning, red);
         }

         &:valid {
            border: 2px solid var(--color-valid, green);
         }
      }
   }

   & button[type='submit'] {
      grid-area: btn;
   }
}
