.form-cart {
   & > div {
      display: flex;

      & > input {
         flex: 0 0 80%;
      }

      & > label {
         flex: 1;
      }
   }

   & input[type='submit'] {
      height: 2rem;
      background: var(--color-primary);
      border: none;
      color: var(--color-text);
   }
}
