.header {
   --padding-panel: 1.75rem;
   --max-width: 100%;

   position: sticky;
   top: 0;

   box-shadow: 0 2px 5px black;
   background-color: var(--color-background);

   &__inner {
      display: grid;
      grid-template-columns: 3rem minmax(5rem, 1fr) 3rem;
      grid-template-rows: 1fr;
      gap: 1.5rem;
      place-items: center;

      & a,
      & button {
         height: 5rem;

         & > svg {
            fill: var(--color-secondary);
         }
      }
   }
}
