.header {
   --padding-panel: 1.75rem;

   position: sticky;
   top: 0;
   width: 100%;
   max-height: 8rem;
   box-shadow: 0 2px 5px black;
   background-color: var(--color-background);

   & a {
      width: 5rem;
      height: 5rem;
   }
}
