.header {
   --padding-panel: 1.75rem;

   position: fixed;
   width: 100%;
   box-shadow: 0 2px 5px black;
   background-color: var(--color-background);

   & a {
      width: 5rem;
      height: 5rem;
   }
}
