.home {
   &__nav {
      gap: 2rem;

      & > a {
         --fluid-type-min: calc(3vmin + 1rem);
         --fluid-type-max: 12vmin;
         --fluid-type-target: 8vmin;

         width: min-content;
         position: relative;

         color: var(--color-text);
         text-decoration: none;
         font-family: var(--font-family-title);
         font-weight: 400;

         &::first-letter {
            font-weight: 900;
         }

         &:first-child::first-letter {
            color: var(--color-primary);
         }

         &:nth-child(2)::first-letter {
            color: var(--color-secondary);
         }

         &:nth-child(3)::first-letter {
            color: var(--color-ternary);
         }

         &::before {
            position: absolute;
            content: '';
            width: 80%;
            height: 5px;
            background: linear-gradient(
               90deg,
               var(--color-background),
               var(--color-primary),
               var(--color-ternary),
               var(--color-background)
            );
            bottom: 0;
         }

         &:hover span {
            opacity: 1;
            transform: translateX(50%) rotate(45deg);
         }

         & span {
            display: none;

            @media screen and (min-width: 768px) {
               display: inline-block;
               position: absolute;
               z-index: -1;
               right: 0;
               color: var(--color-primary);

               transform: rotate(0deg);
               opacity: 0;
               transition: 200ms;

               & > svg {
                  fill: currentColor;
                  max-height: 5rem;
                  max-width: 5rem;
               }
            }
         }
      }
   }
}
