.menu {
   position: fixed;
   height: 100%;
   width: 100%;
   z-index: 10;

   background: var(--color-background);
   color: var(--color-text);
   animation: slide-in 500ms;

   box-shadow: 0 0 5px var(--color-text);

   &__inner {
      display: grid;
      grid-template-rows: min-content 1fr;
   }

   & button {
      max-height: 3rem;
      max-width: 3rem;
      color: inherit;
   }

   & nav {
      place-self: center;
      display: grid;
      gap: 1.5rem;
   }
}

@keyframes slide-in {
   from {
      transform: translateX(-100%);
   }
   to {
      transform: translateX(0%);
   }
}
