.product {
   &__inner {
      color: var(--color-text);
   }

   &__card {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
      gap: 1.5rem;

      & img {
         width: 100%;
         object-fit: cover;
         aspect-ratio: 4 / 3;
         border: 2px solid white;
         padding: 0.5rem;
      }
   }

   &__content {
      & > h1 {
         display: flex;
         align-items: baseline;
         gap: 1.5rem;

         & > span {
            font-size: 2.3rem;
            font-family: Impact, 'Arial Narrow Bold', sans-serif;
            font-weight: 500;
         }

         & > b {
            color: var(--color-secondary);
            font-size: 1rem;
         }
      }

      & > p {
         max-width: 50ch;
         font-size: 1.2rem;
      }

      & > select {
         font-family: Consolas;
         padding: 0.5rem;
      }
   }

   &__cta {
      display: flex;
      flex-wrap: wrap;
      gap: 2.5rem;

      & > a {
         display: grid;
         place-items: center;

         background: var(--color-ternary);
         text-decoration: none;
      }

      & > button {
         background: var(--color-primary);
      }

      & > button,
      & > a {
         flex: 1;

         padding: 0.75rem 2rem;
         color: var(--color-text);
         border-radius: 0.25rem;

         font-family: Consolas;
         font-size: 1.3rem;
         white-space: nowrap;
      }
   }
}
