.product {
   &__inner {
      color: var(--color-text);
   }

   &__card {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
      gap: 1.5rem;

      & [data-zoom] {
         border: 2px solid var(--color-text);
         padding: 0.5rem;
         overflow: hidden;
      }

      & img {
         width: 100%;
         object-fit: cover;
         aspect-ratio: 4 / 3;
      }
   }

   &__content {
      & > h1 {
         display: flex;
         align-items: baseline;
         gap: 1.5rem;

         & > span {
            font-size: 2.3rem;
         }

         & > b {
            color: var(--color-secondary);
            font-size: 1rem;
         }
      }

      & > p {
         max-width: 50ch;
         font-size: 1.2rem;
      }

      & > select {
         padding: 0.5rem;
      }
   }

   &__cta {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 2.5rem;

      & > * {
         flex: 1;
      }
   }
}
